@import '../variables'

.page-content--branch-state
  padding 30px 20px 30px 40px
  min-width 700px

  .page-header
    padding-top 0

#active-modules, #inactive-modules
  margin-bottom 40px

.module-list-header
  font-size 24px
  color $color-heffalump
  margin-bottom 30px

  &:before
    content ""
    width 25px
    height 28px
    float left
    margin-right 5px
    background url("../images/module-icon.svg")
