@import '../variables'

.page-content--branch-state
  padding 30px 20px 30px 40px
  min-width 700px
  font-family "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif
  color $color-heffalump

  .page-header
    padding 0 20px 15px 40px
    margin-left -40px
    margin-right -20px

  a
    color $color-calypso

  .btn
    radius 3px
    padding: 0.75rem 1.5rem

  .btn-lg
    font-size 18px

  .btn-default
    color $color-button-secondary-text
    background-color $color-olaf
    border-color $color-lorax

    &:hover,
    &:focus
      background-color $color-button-secondary-hover-fill
      color $color-button-secondary-text

    &:active
      background-color $color-button-secondary-active-fill

  .btn-primary
    color $color-olaf
    background-color $color-lorax
    border-color $color-lorax

    &:hover,
    &:focus
      background-color $color-button-primary-hover-fill
      border-color $color-button-primary-hover-fill
      color $color-olaf

    &:active
      background-color $color-lorax-dark
      border-color $color-lorax-dark

.branch-state-headline__repo-icon
  margin-right 10px
  color $color-eerie

.branch-state-headline__actions
  float right
  display flex
  align-items center

.branch-state-headline__star
  margin-left 20px
  margin-right 15px
  font-size 28px

.branch-state-headline__branch-select
  font-size 14px
  margin-top 8px
  margin-left 34px
  position relative

  .branch-select-input
    font-size 16px
    top -9px
    left 16px
    width 350px

    & .Select-placeholder
      color $color-calypso

.branch-state-headline__sub-header-links
  text-align right
  margin-right 15px

  a
    text-decoration none

  a + a
    margin-left 20px

.failing-module-builds
  margin-bottom 30px

.failing-module-builds__list
  list-style none
  padding-left 20px
  margin-bottom 0

.module-list-group
  margin 0 30px

.module-list-card-stack
  margin 0
