@import '../variables'

.build-header
  position fixed
  top 45px
  left $layout-offset-md
  width "calc(100% - %s)" % $layout-offset-md
  z-index 1
  background #fff

.build-body
  margin-top 175px

.log .log__line:nth-child(even)
  background rgba(0,0,0,0.025)

pre.log
  padding 0
  background $offwhite
  margin-top 20px
  background #f6f6f6
  background-color #f5f5f5
  border none
  border-radius 0

.log__line
  font-family Consolas, "Liberation Mono", Courier, monospace
  padding 4px 10px
  white-space pre

.build-header__name-and-buttons
  .headline
    margin 8px 0 10px 0
