@import '../variables'

.starred-module
  margin-bottom 20px
  background-color #f9f9f9
  border 1px solid #e5e5e5
  position relative
  padding 10px

.starredRepo.active
  margin-bottom 20px

.progressBar-dashboard.progress
  height 8px
  border-radius 0px
  position absolute
  width calc(100% + 2px)
  bottom -20px
  left -1px

.dashboard__toggle-container
  float right