.starredRepo
  margin 10px
  margin-bottom 20px
  background-color #f9f9f9
  border 1px solid #e5e5e5
  position relative

.starredRepo.active
  margin-bottom 28px

.starredRepo-inner
  padding 10px

.progressBar-dashboard
  height 8px
  border-radius 0px
  position absolute
  width calc(100% + 3px)
  bottom -10
  left -1px

.dashboard__repo-name
  font-size 18px
  font-weight 300

.dashboard__title-link
  color #333

.dashboard__branch-link
  font-size 13px

.dashboard__repo-details
  margin-top 5px
  padding-top 5px
  border-top 1px solid #e5e5e5
