// aka build history

.build-status
  width 40px
  padding 0 5px
  text-align center
  font-size 14px !important
  padding-top 6px !important

.progress-container
  margin-bottom 0
  min-width 65px
  height 15px

.progress-bar
  position relative

.progress-bar span
  text-align left
  position absolute
  left 20px
