// aka build history

.build-status
  width 40px
  padding 0 5px
  text-align center

.build-progress.progress
  margin-bottom 0
  min-width 60px
  height 15px

.build-progress:not(.progress-bar)
  margin-top 2px
