.notifications
  font-family HelveticaNeue
  position relative
  width 800px
  height 800px

.notifications__grid
  border 1px solid #CFCFCF
  border-radius 3px 3px
  height 300px
  width 760px
  
  & *
    border-radius 3px 3px

  & .col-sm-4, .col-sm-8, .col-sm-12
    padding 0

  & .col-sm-4
    width 250px

  & .col-sm-8
    width 500px

.notifications__headline
  margin-top 30px
  padding-left 5px

.notifications__headline-title
  font-size 28px
  color #4a4a4a

.notifications__channels-headline
  margin-top 20px
  margin-bottom 0px

  & span
    font-size 20px
    color #4a4a4a
    
.notifications__channels-container
  height 248px
  background-color #F9FBFD

.notifications__channel-button
  margin 8px 0 0 55px
  background-color #425b76
  border-color #425b76

.notifications__channel
  cursor pointer
  font-size 16px
  position relative
  color #425B76

  &:hover
    background-color #f2f5f8

  &.selected
    background-color #E5F5F8
    z-index 1

.notifications__channel-wrapper
  padding 5px 10px

.notifications__list
  padding 60px 40px 0 40px
  background-color white
  min-height 242px
  min-width 500px

.notifications__setting
  padding 5px
  margin-bottom 10px
  position relative

.notifications__setting-toggle
  position absolute
  right 0
  top 18px
  
  & .react-toggle--checked .react-toggle-thumb:before
    font-family FontAwesome
    content "\f00c "
    color #00a4be
    position absolute
    top 2px
    left 5px

.notifications__setting-title
  font-weight bold

.notifications__delete
  position absolute
  top 4px
  right 20px
  color #00a4bd

.notifications__delete-toast
  width 500px
  position fixed
  top 0
  left 40%
  z-index 10
  background-image linear-gradient(to bottom, #5967bc, #6a78d1)
  box-shadow 0 1px 24px 0 rgba(0, 0, 0, 0.08)
  border-radius 3px
  opacity 0
  visibility hidden
  transition opacity .25s

  &.revealed
    visibility visible
    opacity 1

.notifications__delete-toast-inner
  padding 20px 20px
  text-align center
  
  & > span
    font-size 16px
    font-family HelveticaNeue-Bold

  & > p
    padding-top 10px
    font-size 14px
    line-height 1.7

  & > span, & > p
    color white

.notifications__delete-select
  border 0px solid #6281c9
  border-width 0 1px 1px 1px
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  background-color white
  padding 0
  font-size 12px
  line-height 1.2
  position relative
  min-height 30px
  transition display 1s
  cursor default

  & span
    color #425b76
    font-family HelveticaNeue-Medium

.notifications__delete-select-yes
  padding 2px 20px
  background-color #ff7a59
  position absolute
  top 5px
  left 100px
  border-radius 3px
  border 1px solid #ff7a59
  width 60px
  cursor pointer

  & span
    color white

.notifications__delete-select-no
  padding 2px 15px
  background-color white
  position absolute
  top 5px
  left 175px
  border-radius 3px
  border 1px solid #ff7a59
  width 60px
  cursor pointer

  & span
    color #ff7a59

.notifications__delete-select-question
  position absolute
  left 20px
  top 8px

.slack-channel-input
  border-radius 3px
  border 0.5px solid #7c98b6
  width 215px
  float right
  margin-right 10px
  
  & .Select-placeholder
    color #cbd6e2
    font-size 16px

  & .Select-control
    background-color rgba(243, 248, 252, 0.5)
    border 0
    
  & .Select-menu-outer
    max-height 300px
    position absolute
      
    & .Select-option
      padding 15px
      color #425b76
      
      &:hover
        background-color #e5f5f8

.notifications__list--empty
  text-align center

  & i
    width 100%
    font-size 48px
    color #cbd6e2
    padding-bottom 20px

  & p
    margin-top 5px
    width 100%
    font-family HelveticaNeue
    font-size 20px
    color #cbd6e2

.notifications__new-channel-button-wrapper
  height 50px
  background-color #EAF0F6
  
.notifications__triangle
  height 25px
  position absolute
  right -12px
  top 0
  border-top 16px solid transparent
  border-bottom 16px solid transparent
  border-left 13px solid #E5F5F8
  background-color transparent
  
.notifications__new-channel-hashtag
  position relative
  padding-top 10px
  
  & > span
    font-family HelveticaNeue
    font-size 16px
    color #425B76
    position absolute
    left 10px
    top 15px

