.notifications
  font-family HelveticaNeue
  
.notifications__grid
  margin-top 50px
  height 250px
  
  & .col-sm-4, .col-sm-8
    padding 0
    
  & .col-sm-4
    max-width 300px
    
  & .col-sm-8
    max-width 600px

.notifications__headline-title
  font-size 28px
  color #4a4a4a
  
.notifications__channels-headline
  margin-bottom 20px
  
  & span
    font-size 20px
    color #4a4a4a

.notifications__channel
  padding 10px
  cursor pointer
  font-size 16px
  
  &.selected, &:hover
    background-color #f2f5f8
  
.notifications__list
  padding 40px
  margin-top 48px
  background-color #f2f5f8
  min-height 250px
  
.notifications__setting
  padding 5px
  margin-bottom 10px
  position relative

.notifications__setting-toggle
  position absolute
  right 0
  top 18px
  
.notifications__setting-title
  font-weight bold