@import '../new-colors'

$pagination-color ?= $color-calypso
$pagination-border ?= none
$pagination-hover-color ?= $color-calypso
$pagination-active-color ?= $color-calypso
$pagination-active-bg ?= $color-calypso-light
$pagination-hover-bg ?= $color-koala

$tooltip-bg ?= $color-heffalump
$tooltip-opacity ?= 1
$popover-bg ?= $color-calypso-light
$popover-border-color ?= $color-calypso-light
$popover-arrow-outer-color ?= $color-calypso-light

$text-muted ?= $color-eerie

@import 'bootstrap'

.pagination > li > a
  border-radius 3px
  padding 5px 9px

.pagination > li:not(:last-child) > a
  margin-right 4px

.btn-default:active, .btn-default.active,
.open > .dropdown-toggle.btn-default
  border-color #ccc

.alert
  border-radius $radius-standard
  margin-bottom 10px

.btn
  border-radius $radius-standard

  &:active, &:focus
    outline 0

.btn-primary
  background-color $color-primary
  border-color $color-primary-dark-accent

// add-ons
.table-border
  border 1px solid $gray

label
  font-weight: 400

.page-header
  border-bottom 1px solid $color-battleship
  margin 0 0 30px
  padding-bottom 12px
  padding-top 30px
  color $color-heffalump

.tooltip-inner, .popover-content
  color $color-gypsum

.close
  opacity 0.8

// For now, scope these overrides to new pages to avoid breaking existing
// designs. This is not ideal because it causes some specificity issues
// and we should settle on a consistent set of bootstrap overrides
// across the entire app soon.
.page-content--branch-state
  a
    color $color-calypso

  .btn
    radius 3px
    padding: 0.75rem 1.5rem

  .btn-link
    color $color-calypso

  .btn-lg
    font-size 18px

  .btn-default
    color $color-button-secondary-text
    background-color $color-olaf
    border-color $color-lorax

    &:hover,
    &:focus
      background-color $color-button-secondary-hover-fill
      color $color-button-secondary-text

    &:active
      background-color $color-button-secondary-active-fill

  .btn-primary
    color $color-olaf
    background-color $color-lorax
    border-color $color-lorax

    &:hover,
    &:focus
      background-color $color-button-primary-hover-fill
      border-color $color-button-primary-hover-fill
      color $color-olaf

    &:active
      background-color $color-lorax-dark
      border-color $color-lorax-dark
