@import 'variables'

.btn-default:active, .btn-default.active, 
.open > .dropdown-toggle.btn-default
  border-color #ccc
  
.alert
  border-radius $radius-standard
  margin-bottom 10px
  
.btn
  border-radius $radius-standard

.pagination
  margin-bottom 15px

.pagination > li > a, .pagination > li > span
  border 1px solid $accent
  
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus
  border 1px solid $accent
  
.pagination > li > 
  a:hover, span:hover, a:focus, span:focus
    color $link-color
    background-color $gray-lightest

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus
  color $gray-medium
  
// add-ons  
.table-border
  border 1px solid $gray
