@import '../variables'

.Select-control
  border-radius 3px
  border none

.Select-placeholder
  font-size 13px

.Select-clear
  padding 5px 10px
  
.Select-option
  font-size 13px
  padding 6px 10px

.Select-menu-outer
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px

.Select-arrow-zone .Select-arrow
  top 15px

.Select-item
  color $gray-darker

.Select-placeholder
  color $gray-dark
  padding-top 2px
