.branch-build-header
  margin-top 20px
  margin-bottom 10px

.branch-build-header__build-number
  font-weight 400
  font-size 20px
  display inline-block
  margin 0 10px 0 0

.branch-build-header__build-trigger-label-wrapper
  margin-right 5px

.branch-build-header__commit-info-wrapper
  float right
