@import '../../variables'

.branch-build-progress
  height 2px
  background-color $color-calypso-light
  margin-bottom 6px
  transition height 1s ease-in background-color 1s ease-in

.branch-build-progress--inactive
  height 1px
  background-color $color-battleship

.branch-build-progress-bar
  height 100%
  background-color $color-calypso-medium
  transition width .6s ease, opacity .5s ease
