@import '../../variables'

.branch-build-header
  margin-top 30px
  margin-bottom 20px
  display flex
  align-items center

.branch-build-header__build-number
  font-weight 600
  font-size 14px
  margin-right 10px
  position relative

.branch-build-header__active-build-icon
  position absolute
  left -20px
  height 16px
  width 16px
  border-radius 100%
  background-color $color-calypso
  animation active-build-icon-blink 1.5s linear infinite

@keyframes active-build-icon-blink
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }

.branch-build-header__build-summary
  flex-grow 1
  font-size 12px

.branch-build-header__build-summary-info
  display flex

.branch-build-header__build-trigger-label-wrapper
  min-width 90px
  width 12%

.branch-build-header__users-for-build-wrapper
  min-width 180px
  width 20%

.branch-build-header__commits-wrapper
  min-width 150px
  width 10%

.branch-build-header__module-builds-completed
  font-style italic
  color $color-eerie

.branch-build-header__action-items
  flex-grow 1
  text-align right
