@import '../../variables'

.branch-build-progress
  height 2px
  background-color $color-calypso-light
  margin-bottom 6px

.branch-build-progress-bar
  height 100%
  background-color $color-calypso-medium
  transition width .6s ease, opacity .5s ease
