@import '../../variables'

.build-trigger-label
  padding 2px 5px
  white-space nowrap

.build-trigger-label--code-push
  color $color-sorbet
  background-color $color-sorbet-light

.build-trigger-label--new-branch
  color $color-sorbet
  background-color $color-sorbet-light

.build-trigger-label--manual
  color $color-heffalump
  background-color $color-koala

.build-trigger-label--dependency
  color $color-thunderdome
  background-color $color-thunderdome-light
