@import '../../variables'

.module-build-status
  flex-grow 1
  color $color-eerie
  margin 0

.module-build-status__icon
  font-size larger
  margin-right 5px

.module-build-status__icon--info
  color $color-calypso

.module-build-status__icon--warning
  color $color-marigold-dark

.module-build-status__icon--success
  color $color-oz

.module-build-status__icon--danger
  color $color-candy-apple
