@import '../../variables'

.module-build-item-wrapper
  border-left-width 5px
  border-left-style solid
  border-left-color $color-cirrus

.module-build-item-wrapper--success
  border-left-color $color-oz

.module-build-item-wrapper--danger
  border-left-color $color-candy-apple

.module-build-item-wrapper--warning
  border-left-color $color-marigold
