@import '../../variables'
@import './module-build-number'

$tab-height = 36.5px

$success-inactive-bg = $color-oz-light
$success-inactive-color = $color-oz-medium
$success-inactive-hover-bg = #cbf7f3

$info-inactive-bg = $color-calypso-light
$info-inactive-color = $color-calypso-medium
$info-inactive-hover-bg = #cbf1f7

$failed-inactive-bg = $color-norman-light
$failed-inactive-color = $color-norman-medium
$failed-inactive-hover-bg = #fcd4e1

$warning-inactive-bg = $color-marigold-light
$warning-inactive-color = $color-marigold
$warning-inactive-hover-bg = #ffedd6

.module-build-tab__wrapper
  position relative
  height 50%

.module-build-tab
  width 75px

.module-build-tab--inactive
  cursor pointer

  &.module-build-tab--success
    background-color $success-inactive-bg
    color $success-inactive-color
    &:hover
      background-color $success-inactive-hover-bg

  &.module-build-tab--info
    background-color $info-inactive-bg
    color $info-inactive-color
    &:hover
      background-color $info-inactive-hover-bg

  &.module-build-tab--failed
    background-color $failed-inactive-bg
    color $failed-inactive-color
    &:hover
      background-color $failed-inactive-hover-bg

  &.module-build-tab--warning
    background-color $warning-inactive-bg
    color $warning-inactive-color
    &:hover
      background-color $warning-inactive-hover-bg

.module-build-tab__arrow
  border ($tab-height / 2) solid transparent
  border-right 0
  position absolute
  // overlap to prevent gap with tab during card expand transition
  right (- $tab-height / 2) + 0.25px
  top 0

.module-build-tab__arrow--success
  border-left-color $build-number-success-bg

.module-build-tab__arrow--info
  border-left-color $build-number-info-bg

.module-build-tab__arrow--failed
  border-left-color $build-number-failed-bg

.module-build-tab__arrow--warning
  border-left-color $build-number-warning-bg
