@import '../../variables'

.module-item
  height 73px
  list-style none
  display flex

.module-item-summary__build-number
  width 75px
  font-size 18px

.module-build-tabs
  font-size 18px

.module-build-tabs + .module-build
  padding-left: 29px

.commit-info__compare-link
  margin-left 5px
  position relative
  bottom 1px
