@import '../../variables'

.module-build
  padding 12px 20px
  display inline-block
  flex-grow 1
  cursor pointer

.module-build--success, .module-build--info
  &:hover
    background-color $color-gypsum

.module-build--failed
  background-color $color-norman-light
  &:hover
    background-color #fcd4e1

.module-build--warning
  background-color $color-marigold-light
  &:hover
    background-color #ffedd6

.module-build__module-name
  font-size 18px
  color $color-calypso
  margin-top 0
  font-weight normal
  font-family "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif

.module-build__labels
  position absolute
  top 10px
  right 20px
  height 55px
  display flex
  flex-direction column
  align-items flex-end

  :first-child
    margin-bottom auto

.module-build__commit-info
  margin 0

  a
    color $color-calypso
    text-decoration none
    cursor pointer
