@import '../../variables'

.module-build-history
  padding 20px

  h5
    font-weight bold
    font-size 16px
    margin-bottom 20px

.module-build-history__pagination
  margin 0

.module-build-history__list
  padding-left 0
  list-style none

  li + li
    border-top 1px solid $color-koala

.module-build-history__last-successful-build-number
  color $color-oz
  background-color $color-oz-light
  border solid 1px $color-oz-medium
  border-radius 1px
  padding 6px 10px
  font-weight 500
  float right

.module-build-history-item
  display flex
  align-items center
  height 35px
  margin-bottom -1px
  position relative
  font-size 12px
  padding 0 10px

.module-build-history-item__build-number
  width 50px
  min-width 50px
  font-size 14px

.module-build-history-item__status
  margin 0
  padding-left 20px
  flex-grow 1
  min-width 270px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

.module-build-history-item__build-trigger-label
  font-size 12px
  width 15%
  min-width 90px
  margin-right 5px

.module-build-history-item__users-for-build-wrapper
  width 25%
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

.module-build-history-item__commits-wrapper
  width 15%
  min-width 110px
