@import '../../variables'

.pending-branch-build-alert__content
  display flex
  align-items center
  font-size 12px

.pending-branch-build-alert__build-number
  font-size 16px
  font-weight 600
  line-height 1.5
  margin-right 10px

.pending-branch-build-alert__build-state
  flex-grow 1
  margin-left 10px
