$card-stack-border-color = #eaf0f6
$card-bg-color = rgba(229, 246, 248, 1)
$card-bg-color-hover = rgba(229, 246, 248, 0.4)
$border = 1px solid $card-stack-border-color
$initial-height = 80px
$transition-duration = .3s
$bg-transition-duration = .15s
