@import 'variables'

.success
  color $success

.danger
  color $danger

.warning
  color $warning

.bgc-danger
  background-color $danger-light!important

.info
  color $info
  
.default
  color $gray

.opacity-semi
  opacity: .6
