@import 'variables'

.success
  color $success

.danger
  color $danger

.warning
  color $warning

.bgc-success, .alert-state-SUCCESS
  background-color $success-light!important

.bgc-danger, .alert-state-FAILED
  background-color $danger-light!important

.bgc-warning, .alert-state-CANCELLED
  background-color $warning-light!important

.info
  color $info
  
.default
  color $gray-light

.opacity-semi
  opacity: .6
