@import 'variables'

.roomy
  margin 20px 0

.roomy-x
  margin 0 5px
  
.roomy-xy
  margin 10px 10px

.zeroclipboard-is-hover
  cursor pointer

.hoverable
  cursor pointer
  
.code
  font-family $monospace
  
.plain-list
  margin 0
  padding 0
  list-style none
  li
    margin 5px 0
    word-break: break-all
    
.pre-text
  font-family $monospace
  font-size 10px
