@import 'variables'

.roomy
  margin 20px 0

.roomy-x
  margin 0 5px

.roomy-xy
  margin 10px 10px

.hoverable
  cursor pointer

.code
  font-family $monospace

.plain-list
  margin 0
  padding 0
  list-style none
  li
    margin 5px 0
    word-break: break-all

.pre-text
  font-family $monospace
  font-size 10px

.table > tbody > tr > td
  &.table-cell-link
    padding 0
    span
      display block
      height 100%
      width 100%
      padding 8px

.text-right
  text-align right

@keyframes fa-blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.fa-blink {
  animation fa-blink 1.5s linear infinite
}
