@import 'variables'
@import 'mixins'

body
  background-color #fff

.ui-grid
  margin: 10px 5px

  &.tight
    margin: 0

.page-wrapper
  height 100vh
  width 100%
  position relative

.sidebar, .page-content
  height 100vh

.sidebar
  position fixed
  overflow hidden
  top 0
  width: $layout-offset-md
  border-right 1px solid $gray
  background-color $offwhite
  *
    user-select none

.page-content
  position relative
  width "calc(100% - %s)" % $layout-offset-md
  margin-left $layout-offset-md
  padding 15px 10px 10px

.page-header
  position fixed
  z-index 2
  width "calc(100% - %s)" % $layout-offset-md
  height 45px
  top 0
  left $layout-offset-md
  margin 0
  padding 10px 30px 2px 30px
  border-bottom 1px solid $gray
  background-color $offwhite
  transition: height 0.3s;

.page-section
  background #fff
  padding 10px
  standard-border()

.logo
  position relative
  display inline-block
  top -4px
  z-index 3
  margin-right 10px
  margin-top 5px
  
.logo-image
  width 60px

.branch__shield
  padding-top 7px
  padding-left 10px
  display inline