@import 'variables'

.primary-content
  height: 100vh
  background #fff

.sidebar
  border-right: 1px solid #dadada
  padding: 20px
  height: 100vh
  width: 100% //of the bootstrap col
  
  @media (max-width: $mobile)
    height: auto