@import 'variables'
@import 'mixins'

body
  background-color #fff

.ui-grid
  margin: 10px 5px

  &.tight
    margin: 0

.page-wrapper
  height 100vh
  width 100%
  position relative

.sidebar, .page-content
  height 100vh

.sidebar
  position fixed
  overflow hidden
  top 0
  width: $layout-offset-md
  border-right 1px solid $gray
  background-color $offwhite
  z-index 10

  *
    user-select none

.page-content
  position relative
  width "calc(100% - %s)" % $layout-offset-md
  margin-left $layout-offset-md
  padding 5px 10px

.page-section
  background #fff
  padding 10px
  standard-border()

.logo
  position relative
  display inline-block
  top -4px
  z-index 3
  margin-right 10px
  margin-top 5px

.logo-image
  width 60px

.branch__shield
  padding-top 20px
  padding-left 10px
  display block

.page-header__sub-header
  margin-top: -20px
  margin-bottom: 30px
  position: relative

  .branch-select-input
    left: 16px
    top: -6px
    width: 30%
