$color-pantera = #2D3E50
$color-obsidian = #33475B
$color-heffalump = #425b76
$color-slinky = #516f90
$color-eerie = #7c98b6
$color-flint = #99acc2
$color-battleship = #cbd6e2
$color-koala = #eaf0f6
$color-cirrus = #F2F5F8
$color-gypsum = #f9fbfd
$color-olaf = #ffffff

$color-candy-apple = #f2545b
$color-candy-apple-dark = #d94c53
$color-candy-apple-light = #fdedee

$color-norman-medium = #f9aabe
$color-norman-light = #fdedf2

$color-marigold = #f5c26b
$color-marigold-dark = #dbae60
$color-marigold-medium = #fae0b5
$color-marigold-light = #fef8f0

$color-sorbet = #ff8f59
$color-sorbet-medium = #ffc7ac
$color-sorbet-light = #fff3ee

$color-lorax = #ff7a59
$color-lorax-dark = #e66e50

$color-oz = #00BDA5
$color-oz-medium = #7fded2
$color-oz-light = #e5f8f6

$color-calypso = #00a4bd
$color-calypso-medium = #7fd1de
$color-calypso-light = #e5f5f8

$color-thunderdome = #6a78d1
$color-thunderdome-medium = #b4bbe8
$color-thunderdome-light = #f7f8fc

$color-button-primary-hover-fill = #ff8f73
$color-button-secondary-text = #ff7a53
$color-button-secondary-hover-fill = #fff8f6
$color-button-secondary-active-fill = #ffebe6
