@import 'variables'

.sidebar__headline
  font-size 24px
  margin 10px 0

.sidebar__list
  margin-top 20px

.sidebar__repo-url
  font-size 12px

.sidebar__repo
  font-size 22px
  &:hover
    cursor pointer

.sidebar__repo-container
  border-bottom 1px solid #dadada
  padding 10px 0

.sidebar__modules
  display none

  &.expanded
    display block
    margin-left: 10px

.sidebar___repo-module
  display: block