@import 'variables'

h1, h2, h3, h4, h5, h6
  font-weight $font-light

.header-subheader
  font-size 15px
  margin 8px 0

.header-secondary
  font-size 18px

.section-header
  font-size: 14px
  margin: 10px 0
  font-weight $font-normal
  text-transform uppercase
