@import 'variables'

@font-face
  font-family 'FontAwesome'
  src url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.eot")
  src url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.eot") format('embedded-opentype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2") format('woff2'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.woff") format('woff'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf") format('truetype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.svg") format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'octicons'
  src url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.eot") format('embedded-opentype'),
    url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.woff") format('woff'),
    url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.ttf") format('truetype'),
    url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.svg") format('svg')
  font-weight normal
  font-style normal

h1, h2, h3, h4, h5, h6
  font-weight $font-light

.alert h4
  font-weight $font-medium

a
  letter-spacing .02em
  cursor pointer

h4
  font-size 16px

strong
  font-weight $font-medium

tr,
td
  font-size 13px
  .code
    font-size 12px

.section-header
  font-size: 14px
  margin: 10px 0
  font-weight $font-normal
  text-transform uppercase

.small
  color: #A7A7A7
  font-size: 12px

.headline-icon
  margin-right 10px
  color #bbb

.notfound__heading
  font-weight 100
  margin-bottom 20px

.page-title
  font-size 28px
  margin 0
  font-weight normal

  .octicon
    font-size inherit
