@import 'new-colors'

// Fonts
$sans = 'Roboto', 'sans-serif'
$monospace = Menlo, Monaco, Consolas, "Courier New", monospace
$font-thin = 100
$font-light = 300
$font-normal = 400
$font-medium = 500
$font-heavy = 600

$color-text-standard = $color-heffalump
$color-text-light = $color-eerie

$link-color ?= $color-calypso
$link-hover-color ?= #007A8C

// Layout
$layout-offset-md = 300px

// Window sizes
$sm-desktop = '1200px'
$mobile = '767px'

// Colors
$gray-lightest = #f8f8f8
$gray-lighter = #efefef
$gray-light = #e5e5e5
$gray = #d5d5d5
$gray-medium = #bababa
$gray-dark = #7f7f7f
$gray-darker = #595959

// #f2f8fa

$blue-gray = #F2F4F7
$blue-gray-darker = #bfccd1
$blue-gray-light = #C8CFD6

$offwhite = $color-gypsum
$success = $color-oz
$success-light = $color-oz-light
$success-dark = $color-oz-medium
$danger = $color-candy-apple
$danger-dark = $color-candy-apple-dark
$danger-light = $color-candy-apple-light
$warning = $color-marigold
$warning-light = #FDF3E1

$color-primary = #428bca
$color-primary-dark-accent = #357ebd

$info = #5bc0de
$info-dark = #bce8f1
$default = #888

$skipped = #607D8B

$color-starred = #ffd700
$radius-standard = 3px

$black-opaque = rgba(0, 0, 0, 0.3)
$radius-scrollbar = 8px
