// Fonts
$sans = 'Roboto', 'sans-serif'
$font-thin = 100
$font-light = 300
$font-normal = 400
$font-medium = 500

// Layout
$layout-offset-md = 300px

// Window sizes
$sm-desktop = '1200px'
$mobile = '767px'

// Colors
$gray = #e5e5e5
$gray-darker = #bebebe
$offwhite = #f9f9f9
$link-color = #428bca

$success = #5cb85c
$danger = #d9534f
$danger-light = #f9f0f0
$warning = #f0ad4e
$info = #5bc0de
