@import 'new-colors'

// Fonts
$sans = 'Roboto', 'sans-serif'
$monospace = Menlo, Monaco, Consolas, "Courier New", monospace
$font-thin = 100
$font-light = 300
$font-normal = 400
$font-medium = 500
$font-heavy = 600

$color-text-standard = #333
$color-text-light = #555
$color-text-lighter = #767676

// Layout
$layout-offset-md = 300px

// Window sizes
$sm-desktop = '1200px'
$mobile = '767px'

// Colors
$gray-lightest = #f8f8f8
$gray-lighter = #efefef
$gray-light = #e5e5e5
$gray = #d5d5d5
$gray-medium = #bababa
$gray-dark = #7f7f7f
$gray-darker = #595959

// #f2f8fa

$blue-gray = #F2F4F7
$blue-gray-darker = #bfccd1
$blue-gray-light = #C8CFD6

$offwhite = #f8f8f8
$success = #5cb85c
$success-light = #dff0d8
$success-dark = #d6e9c6
$danger = #d9534f
$danger-dark = #ebccd1
$danger-light = #f9f0f0
$warning = #f0ad4e
$warning-light = #fcf8e3

$color-primary = #428bca
$color-primary-dark-accent = #357ebd

$info = #5bc0de
$info-dark = #bce8f1
$default = #888

$skipped = #607D8B

$color-starred = #ffd700
$radius-standard = 3px

$black-opaque = rgba(0, 0, 0, 0.3)
$radius-scrollbar = 8px
