@import '../variables'

.new-alert
  padding 10px
  border-radius 3px
  border-width 1px
  border-style solid
  margin-bottom 10px
  display flex

.new-alert--danger
  border-color $color-norman-medium
  background-color $color-candy-apple-light

.new-alert--info
  border-color $color-calypso-medium
  background-color $color-calypso-light

.new-alert__icon-container
  margin-right 15px
  min-width 40px
  text-align center

.new-alert__icon
  font-size 36px

.new-alert__icon--danger
  color $color-candy-apple

.new-alert__icon--info
  color $color-calypso

.new-alert__content
  flex-grow 1
  min-width 0

.new-alert__title
  font-size 16px
  line-height 24px
  margin 0 0 5px
  font-weight 600
