@import '../variables'

.branch-filter
  padding 10px 10px 5px 10px

.branch-filter-input
  width 340px
  display inline-block
  margin 0 10px 0 0

.branch-select-input
  display inline-block
  margin-left 10px
  position absolute
  top 18px
  width 200px
  
  & .Select-menu-outer
    font-size 12px
    
  & .Select-placeholder
    color black