@import '../variables'

.branch-filter
  margin-top 10px
  margin-bottom 20px

.branch-filter-input
  width 340px
  display inline-block
  margin 0 10px 0 0

.branch-filter
  padding 10px 10px 5px 10px
  background $gray-lighter
