@import 'variables'

.breadcrumbs
  margin-top 5px
  font-size 12px
  
  .icon
    font-size 16px

.crumb
  position relative

  &:hover
    text-decoration none

  &:after
    content: '\f105';
    font-family: 'FontAwesome';
    color: #818da7;
    padding 0 6px
    
  &.logo
    &:after
      position relative
      top 4px
    
  &.active
    font-weight $font-normal
    color $color-text-standard
    &:after
      content ''
    &:hover
      cursor default

.breadcrumb-icon
  padding-right 5px
  
.breadcrumb-icon--thin
  padding-right 2px