@import 'variables'

buildStatus(color)
  color color

.building-icon
  display block
  border-radius 50%

.building-icon--small
  margin-top: -3px

.building-icon-inner--small
  width 10px
  height 10px
  
.building-icon--QUEUED, .building-icon--LAUNCHING, .building-icon--WAITING_FOR_UPSTREAM_BUILD, .building-icon--WAITING_FOR_BUILD_SLOT
  buildStatus($default)

.building-icon--IN_PROGRESS
  buildStatus($info)

.building-icon--CANCELLED
  buildStatus($warning)

.building-icon--SUCCEEDED
  buildStatus($success)

.building-icon--FAILED, .building-icon--UNSTABLE
  buildStatus($danger)
  
.building-icon--SKIPPED
  buildStatus($skipped)

.building-icon--never-built
  buildStatus($default)

// animation
@keyframes blink
  0%
    opacity 1

  25%
    opacity: .75

  50%
    opacity .5

  75%
    opacity: .25

  100%
    opacity 0
