@import 'variables'

build-status(color)
  .build-detail-header
    border-bottom 1px solid color
    .headline-icon
      margin 0 5px
    
  .build-detail-footer
    border-top 1px solid color

.build-detail
  position relative
  padding 0
  margin 0
  
  &.alert-success
    build-status($success-dark)
      
  &.alert-danger
    build-status($danger-dark)
    
  &.alert-info
    build-status($info-dark)
      
.build-detail-header
  .cancel-build-button 
    position absolute
    top 4px
    right 4px

.build-detail-header__build-state
  font-weight $font-medium
  margin 0
  padding 5px

.build-detail-header__timestamp
  font-weight $font-normal
  font-size 12px
  margin-left 5px
    
.build-detail-body
  position relative
  p
    margin: 0
    font-size 13px
      
.build-detail-body__commit-desc
  height 30px
  overflow hidden
  max-width 100%
  word-wrap break-word
  background inherit
  border none
  padding 0 10px
  margin 0
  color $gray-darker
  font-size 12px
  line-height 2.5

.build-detail-footer
  background #fff
  padding 5px 10px
  font-size 13px
  color $gray-darker

  .build-detail__sha
    padding-left 10px
    float right
    font-size 13px
    a
      font-family $monospace
