@import '../variables'

.log-nav-btn
  display inline-block
  margin 10px 0 0 3px
  
.log-nav-btn--json
  margin-right 10px
  
  &.btn-default:active, &.btn-default:focus
    background inherit
    box-shadow none
