@import '../variables'

.build-log
  position absolute
  z-index 2
  top 220px
  left 0
  bottom 0
  right 0
  width 100%
  overflow-y scroll
  padding 10px 0
  margin 0
  font-family $monospace
  font-size 12px  
  line-height 1.6
  word-wrap normal
  background $blue-gray
  border-radius 0
  border none // clear pre border
  border-top 1px solid $gray
  transition top .6s
  
  &.expanded
    top 115px

.log-line
  font-size 11px
  width 100%
  margin 0
  padding 1px 10px
  &:hover
    background #fff

.log-line-end
  margin-top 10px
  font-weight $font-heavy

.log-expand-toggle
  position fixed
  top 230px
  right 5px
  padding 10px
  transition top .6s
  background-color rgba($blue-gray, .8)
  color $link-color
  font-size 14px
  cursor pointer
  
.log-expand-toggle--expanded
  top 118px
