@import 'variables'

buildStatus(color)
  background-color color
  border 0 solid color

.building-icon
  display block
  border-radius 50%

.building-icon--small
  margin-top: -3px

.building-icon-inner--small
  width 10px
  height 10px

.building-icon--IN_PROGRESS
  buildStatus($info)
  opacity 0
  animation: blink 1.5s ease-in 0s infinite

.building-icon--LAUNCHING
  buildStatus($default)
  opacity 0
  animation: blink 1.5s ease-in 0s infinite

.building-icon--CANCELLED
  buildStatus($default)

.building-icon--SUCCEEDED
  buildStatus($success)

.building-icon--FAILED
  buildStatus($danger)

.building-icon--never-built
  border 1px solid $default
  border-radius 50%
  width 10px
  height 10px

// animation
@keyframes blink
  0%
    opacity 1

  25%
    opacity: .75

  50%
    opacity .5

  75%
    opacity: .25

  100%
    opacity 0
