@import '../variables'

.build-log
  font-family $monospace
  font-size 12px  
  line-height 1.6
  word-wrap normal
  background $blue-gray
  border-radius 0
  overflow-y auto
  padding 10px 0
  margin 0
  border none

.log-line
  font-size 11px
  width 100%
  margin 0
  padding 1px 10px
  &:hover
    background #fff
    
.build-log-container
  background $blue-gray
  padding-bottom 25px