@import 'variables'

topline-status(color)
    .build-detail__topline
      border-bottom 1px solid color
  
.build-detail
  padding 0
  float left
  width 100%
  .commit
    margin 10px 0
  
  &.alert-success
    topline-status($success-dark)
      
  &.alert-danger
    topline-status($danger-dark)
    
  &.alert-info
    topline-status($info-dark)
      
.build-detail__build-state
  font-weight $font-medium

.build-detail__topline
  padding-bottom 10px
  margin-bottom 10px
  padding 10px 10px 0 10px

.build-detail__sha
  padding-left 10px
  float right
  font-size 13px
  a
    font-family $monospace

.build-detail__commit-desc
  margin-top 10px
  pre
    max-width: 100%
    word-wrap break-word
    background inherit
    border none
    padding 0
    margin 0
    color $gray-darker
    font-size 12px
    line-height 1
    
.build-detail__commitInfo
  padding 5px 10px 15px 10px
  p
    margin: 0 0 3px
    font-size 13px