@import './card-variables.styl'

// Outer classes
.card-stack
  width 100%
  min-width 1000px
  max-width 1100px
  padding 50px 0
  font-family HelveticaNeue
  
  & *
    transition height $transition-duration, margin $transition-duration, padding $transition-duration, background $bg-transition-duration
  
.card-stack__wrapper
  padding 0 20px


// Individual card and variations
.card-stack__card
  height $initial-height
  border $border
  border-bottom 0
    
.card-stack__card--expanded
  height $initial-height + 130px
  margin -10px -20px 0 -20px
  border-bottom $border
  
  & .card-stack__card-main
    background-color $card-bg-color
    border-bottom $border
    
    &:hover
      background-color $card-bg-color
    
.card-stack__card--below-expanded
  border-top 0
  height $initial-height - 10
  
  & .card-stack__card-main
    padding 0 10px
    height $initial-height - 10

.card-stack__card--last
  border-bottom $border
    
  &:hover
    border-bottom $border


// Top card content
.card-stack__card-main
  padding 10px 20px
  height $initial-height
  cursor pointer
  
  &:hover
    background-color $card-bg-color-hover
  
  & > div
    display inline-block


// Detailed card content
.card-stack__card-details
  width 100%
  background-color white
  padding 15px
