@import 'variables'

.collapsable
  margin 5px 0
  border 1px solid $gray
  table
    margin-top 5px
  .show
    padding: 10px 0
    background white

.collapsable__header
  background $gray
  margin 0
  font-size 14px
  font-weight 400
  &:hover
    cursor pointer

.collapsable__header-icon
  font-size 12px
  padding 12px 10px 10px
