
@import 'variables'

header-state(state)
  border-left 3px solid state

.collapsable
  margin 5px 0
  border 1px solid $gray-light
  background white
  padding 0
  
  &.no-border
    border none

.collapsable__header
  background $gray-light
  margin 0
  font-size 14px
  font-weight 400
  &:hover
    cursor pointer
    
  &.SUCCEEDED
    header-state($success)
  
  &.FAILED
    header-state($danger)

  &.CANCELLED
    header-state($warning)
    
.collapsable__header-icon
  font-size 12px
  padding 12px 10px 10px
