
@import 'variables'

header-state(state)
  border-left 3px solid state

.collapsable
  margin 5px 0
  border 1px solid $blue-gray-darker
  border-radius 3px
  background white
  padding 0
  
  &.no-border
    border none
  
  .show
    border-top 1px solid #dde4e6

.collapsable__header
  background $blue-gray
  margin 0
  font-size 13px
  font-weight $font-medium
  color $color-text-light
  border-radius 3px
  
  .badge
    margin-bottom 2px

  &:hover
    cursor pointer
    
  &.SUCCEEDED
    header-state($success)
  
  &.FAILED
    header-state($danger)

  &.CANCELLED
    header-state($warning)
    
.collapsable__header-icon
  font-size 12px
  padding 12px 10px 10px
  color $color-text-lighter

.collapsable__header--disabled-toggle
  padding 10px 0 10px 10px
  &:hover
    cursor default