@import './variables.styl'

.commits
  width auto
  border-bottom 1px solid $color-koala
  margin-bottom 10px
  margin-top 10px

  a:hover
    text-decoration none

.commits__compare-link
  float right
  padding-right 10px

.commits__summary
  padding-left 10px
  display block

.commits__wrapper
  margin-bottom 28px

.commits__header
  background-color $color-gypsum
  border 1px solid $color-koala
  border-width 1px 0 1px 0
  padding 2px 2px 2px 10px

  span
    color $color-eerie

.commits__commit
  position relative
  height auto

.commits__commit-timestamp
  position absolute
  top 5px
  right 10px
  color $color-eerie

.commits__commit-content
  padding 6px 75px 6px 35px

.commits__commit-wrapper
  height auto
  border-left 1px solid $gray
  margin-left 35px

.commits__commit-author
  font-weight bold
  color $color-heffalump

.commits__commit-details
  margin-top 3px
  color $color-heffalump

.commits__commit-message
  overflow-x hidden
  text-overflow ellipsis
  white-space nowrap
  display block

.commits__picture
  position absolute
  left 28px
  top 15px
  background-color white

.commits__picture--firstrow
  left 23px
  top 0px
  padding-top 12px

.commits__picture--lastrow
  img
    margin-bottom 18px

  i
    padding-bottom 4px

.commits__picture-icon
  color #94AAC3

.commits__git-branch-icon
  position absolute
  left 23px
  background-color white

.commits__git-branch-icon--lastrow
  padding 10px 0

.commits__view-all
  padding-left 10px

  &:hover
    cursor pointer
    text-decoration none
