@import '../variables'

.dashboard-panel
  margin-bottom 20px
  background-color #f9f9f9
  border 1px solid #e5e5e5
  position relative
  
.dashboard-panel__footer
  padding 10px

.dashboard-panel__header-link
  margin-left 10px


.progressBar-dashboard.progress
  height 8px
  border-radius 0px
  position absolute
  width calc(100% + 2px)
  bottom -20px
  left -1px

.dashboard-panel__footer-link
  font-size 13px
// .dashboard__toggle-container
//   float right

// .dashboard__toggle-container label
//   position relative
//   bottom 7px
//   margin-right 7px
//   font-weight 300
//   font-size 13px

// .dashboard__toggle
//   display inline-block
