@import '../variables'

.empty-message
  border 3px solid $gray
  border-style dashed
  padding 20px
  text-align center
  margin 10px 0
  
  &.simple
    border 1px solid $gray
    
  &.no-border
    border none