.headline
  font-size 26px
  margin-top 8px
  margin-bottom 0
  padding 5px 0 10px 0

.headline__detail
  font-size 15px
  margin 8px 0
  
.headline__detail-subheadline
  margin-left 5px
  text-transform: uppercase
  font-weight: 400
  font-size: 11px
  letter-spacing: .02em