@import '../variables'

.headline
  font-size 20px
  margin 8px 0 10px 0
  margin-left 0 !important
  margin-top 0 !important
  padding 0
  padding-top 10px
  
  &.headline-no-breadcrumbs
    margin-top 0
    
  &.border
    padding-bottom 15px
    border-bottom 1px solid $gray
    
  &.table-icon-container
    margin-top -5px !important

.headline__detail
  font-size 15px
  margin 8px 0

.headline__detail-subheadline
  margin-left 5px
  font-weight: 400
  font-size: 11px
  letter-spacing: .02em
  text-transform uppercase
  
  & > img
    padding-left 10px
