.headline
  font-size 20px
  margin 8px 0 20px 0
  padding 0
  
  &.headline-no-breadcrumbs
    margin-top 0

  .icon
    font-size 24px

.headline__detail
  font-size 15px
  margin 8px 0

.headline__detail-subheadline
  margin-left 5px
  text-transform: uppercase
  font-weight: 400
  font-size: 11px
  letter-spacing: .02em
