@import 'variables'

.icon-roomy
  padding 0 5px

.icon-muted
  color: $gray-dark
  
.icon-muted--extra
  color $gray-medium

.fa-link
  color $link-color

.fa-stack-2x
  font-size 1.5em
  
.fa-stack-1x
  font-size .75em
  line-height 2em
  color #FFF
  
.table-icon-container > span > i
  width 75px
  
.headline > .table-icon-container > span > i
  width 65px
  margin-top -5px