@import 'variables'

.icon-roomy
  padding 0 5px

.icon-muted
  color $gray-darker
  
.icon-muted--extra
  color $gray-medium

.fa-link
  color $link-color

.fa-stack-2x
  font-size 1.5em
  
.fa-stack-1x
  font-size .75em
  line-height 2
  color #FFF
  
.table-icon-container > span > i
  width 75px
  
.headline > .table-icon-container > span > i
  width 65px
  margin-top -5px
  
.sidebar-item__building-icon-link > .table-icon-container > span > i
  width 38px
  margin-top -8px

.fa-stop
  font-size .55em
  line-height 2.7

.sidebar-item .octicon-repo
  font-size 1.25em !important
  
.octicon-git-branch
  font-size 1.25em !important
