@import 'variables'

.icon-roomy
  padding 0 5px

.icon-muted
  color $gray-darker

.icon-muted--extra
  color $gray-medium

.fa-link
  color $link-color

.sidebar-item .octicon-repo
  font-size 1.25em !important

.octicon-git-branch
  font-size 1.25em !important
