.inter-project-alert
  transition height 1s

  &:hover
    cursor pointer

  h3
    margin 0
    font-size 14px
    font-weight 400
    display inline-block

    span
      font-weight: 600

  .inter-project-alert__details
    margin-top 20px

    .inter-project-alert__upstream, .inter-project-alert__downstream, .inter-project-alert__cancelled
      margin 10px 10px 20px 10px

      ul
        margin-left 10px

        li
          font-weight 300
