@import '../variables'

.json-modal
  position fixed
  left 5%
  top 50px
  bottom 50px
  width 90%

  .modal-content
    height 100%
    width 100%
    
  .modal-body
    height 100%

  .modal-footer
    position absolute
    bottom 15px
    right 15px
    padding 0
    border-top none
    
    .btn
      margin-left 5px
    
  .json-modal__inner-content
    overflow-y scroll
    position absolute
    left 15px
    right 15px
    top 15px
    bottom 50px
    font-size 12px
