.malformed-files__alert
  position relative

.malformed-files__expand-details-link
  position absolute
  top 10px
  right 10px

.malformed-files__file
  padding 10px 0

.malformed-files__file-contents
  margin-top 5px
