.module-modal
  width 600px

  & .modal-content .modal-body
    height auto
    padding-bottom 30px

  & .module-modal__text
    padding-bottom 10px

  & .module-select
    padding-top 10px

    & .Select-clear
      color transparent
      position fixed
      right 30px
      top 65px

      &::after
        color grey
        content "clear all"
        font-size .75em

      &:hover::after
        text-decoration underline

    & .module-select__input
      width 550px

      & .Select-control
        border 1px solid #e5e5e5
        padding-right 30px

  & .downstream-checkbox-wrapper, & .cache-checkbox-wrapper, & .inter-project-checkbox-wrapper
    padding 5px 0
    width 49%
    position relative

    & .__react_component_tooltip
      width 200px


  & .downstream-checkbox-wrapper
    float left

    & .__react_component_tooltip
      position absolute
      left 100px !important
      top 25px !important

  & .cache-checkbox-wrapper
    float right

    & .__react_component_tooltip
      position absolute
      left -89px !important
      top 18px !important

  & .inter-project-checkbox-wrapper
    float left

    & .__react_component_tooltip
      position absolute
      left 87px !important
      top 25px !important

  & .checkbox-wrapper
    padding 20px
    display inline-block

  & .checkbox-tooltip
    padding-left 5px

  & .tooltip-wrapper
    position relative
    display inline
