.module-modal
  width 600px

  & .modal-content .modal-body
    height 300px

  & .module-modal__text
    padding-bottom 10px

  & .module-select
    height 100px
    padding-top 10px

    & .Select-clear
      color transparent

      &::after
        color grey
        content "clear all"
        font-size .75em

      &:hover::after
        text-decoration underline

    & .module-select__input
      width 550px

      & .Select-control
        1px solid #e5e5e5

  & .downstream-checkbox-wrapper
    float left
    padding-top 5px
