

.module-item-summary
  height 75px
  list-style none
  border 1px #cbd6e2 solid
  margin-bottom 9px

.module-item-summary__build-number
  float left
  height 73px
  width 75px
  line-height 73px
  text-align center
  font-size 18px

  &.module-item-summary__build-number--success
    background-color #ccf2ed

.module-item-summary__main
  padding-left: 19px
  display inline-block

.module-item-summary__name
  font-size 16px
  color #00a4bd
  margin-top 12px
  font-weight 600
  font-family "Avenir Next"

.module-build-tabs
  float left
  height 73px
  font-size 18px
  text-align center
  font-size 18px

.module-build-tab
  height 36.5px
  line-height 36.5px
  color #cbd6e2
  width 75px
  float left

.module-build-tab--active
  color #ffffff

.module-build-tab__arrow
  border-left 18.25px solid black
  border-top 18.25px solid transparent
  border-bottom 18.25px solid transparent
  float left

.module-build-tab__arrow--success
  border-left-color #ccf2ed

.module-build-tab__arrow--in-progress
  border-left-color #7fd1de

.module-build-tab__arrow--failed
  border-left-color #f9aabe

.module-build-tab--success
  background-color #ccf2ed

  &.module-build-tab--active
    color #425b76

.module-build-tab--in-progress
  background-color #7fd1de

.module-build-tab--failed
  background-color #f9aabe
