.module-modal
  width 600px
  
  & .modal-content .modal-body
    height 300px

.module-select-input
  width 500px

.module-select-header
  font-size 1.5em
  padding-bottom 10px

.module-select-wrapper
  height 100px
  
.downstream-checkbox-wrapper
  float left
  padding-top 5px
