@import '../variables'

.module-card
  margin-bottom 9px

.module-item
  height 73px
  list-style none
  // border 1px #cbd6e2 solid
  display flex

.module-build--success, .module-build--info
  &:hover
    background-color $color-gypsum

.module-build--failed
  background-color $color-norman-light
  &:hover
    background-color #fcd4e1

.module-build--warning
  background-color $color-marigold-light
  &:hover
    background-color #ffedd6

.module-item-summary__build-number
  height 73px
  width 75px
  line-height 73px
  text-align center
  font-size 18px

  &.module-item-summary__build-number--success
    background-color $color-oz-medium

.module-build
  padding-left 19px
  display inline-block
  flex-grow 1
  cursor pointer

.module-build-tabs + .module-build
  padding-left: 29px

.module-build__module-name
  font-size 18px
  color #00a4bd
  margin-top 12px
  font-weight normal
  font-family "Avenir Next"

.module-build-tabs
  height 73px
  font-size 18px
  text-align center
  font-size 18px

.status-circle
  height 10px
  width 10px
  border-radius 50%
  display inline-block
  margin-right 5px

.status-circle--success
  background-color #00bda5

.status-circle--failed
  background-color #d94c71

.module-build-icon--info
  color $color-calypso

.module-build-icon--warning
  color $color-marigold-dark
