@import '../variables'

.navbar
  margin-bottom 0
  border-radius 0
  border none
  border-bottom 1px solid #dadada
  position fixed
  z-index 2
  width 100%
  top 0
  left 0

.navbar-dark
  background $offwhite

  .navbar-brand
    font-weight bold
    padding 10px

  .title-image
    height 100%
    width auto
