// primary navigation
.navbar
  margin-bottom 0
  border-radius 0
  border none
  border-bottom 1px solid #dadada
  position fixed
  z-index 2
  width 100%
  top 0
  left 0

.navbar-dark
  background #f8f8f8

  .navbar-brand
    font-weight bold

// breadcrumbs
.crumb
  position relative

  &:after
    display inline-block
    content '/'
    padding: 0 2px
