@import 'variables'

.pagination-outer
  text-align center

.pagination-wrapper
  text-align center

// bootstrap...
.pagination > li > a
  &.pagination-active-link
    background $gray-light
    border 1px solid $blue-gray-darker
    font-weight $font-normal

.pagination-footer
  font-size 13px
  color $gray-darker
