@import 'variables'

.repo-branch
  border 1px solid $gray
  margin-bottom 10px
  table
    margin-top 5px

.repo-branch__headline
  background $gray
  margin 0
  &:hover
    cursor pointer

.repo-branch__headine-icon
  font-size 12px
  padding 15px
