$info-width = 30%
$last-build-width = 20%
$details-width = 50%

$border = 1px solid $color-battleship
$card-summary-height = 80px
$bg-transition-duration = .15s
$build-and-status-width = 80px

.repo-branch-card-stack__zero-state
  font-family HelveticaNeue-light
  color $color-heffalump
  text-align center
  max-width 560px
  margin auto

  & h1
    margin-top 30px
    margin-bottom 20px
    font-size 20px
    font-family HelveticaNeue-medium

  & p
    font-size 16px
    line-height 24px

.repo-branch-card__header
  height 50px
  line-height 50px
  background-color #F9FBFD
  border $border
  border-bottom 0
  color $color-heffalump
  font-family HelveticaNeue-medium
  padding-left $build-and-status-width
  text-transform uppercase

  & > div
    width 100%
    padding 0 20px

  & div
    display inline-block

.repo-branch-card__header-info
  width $info-width

.repo-branch-card__header-last-built
  width $last-build-width

.repo-branch-card__header-details
  width $details-width

.repo-branch-card__summary
  cursor pointer

.repo-branch-card__info
  width $info-width

.repo-branch-card__repo
  padding-top 6px
  font-size 16px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  max-width calc(100% - 10px)

.repo-branch-card__main
  padding 10px 20px
  background-color white
  height $card-summary-height
  width "calc(100% - %s)" % $build-and-status-width
  display inline-block

  & > div
    display inline-block

.repo-branch-card__build-and-status
  width $build-and-status-width
  height $card-summary-height
  float left
  line-height $card-summary-height
  text-align center
  font-size 18px

  & span
    color $color-heffalump

.repo-branch-card__build-and-status--SUCCEEDED
  background-color #ccf2ed

.repo-branch-card__build-and-status--FAILED, .repo-branch-card__build-and-status--UNSTABLE
  background-color #fddbdc

.repo-branch-card__build-and-status--IN_PROGRESS, .repo-branch-card__build-and-status--QUEUED, .repo-branch-card__build-and-status--LAUNCHING, .repo-branch-card__build-and-status--WAITING_FOR_UPSTREAM_BUILD, .repo-branch-card__build-and-status--WAITING_FOR_BUILD_SLOT
  background-color #C5EFFD

.repo-branch-card__build-and-status--CANCELLED
  background-color #FAE0B5

.repo-branch-card__branch-and-build
  padding-top 4px
  font-family HelveticaNeue-Light
  color #7c98b6
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  max-width calc(100% - 15px)

.repo-branch-card__branch
  font-family HelveticaNeue
  color $color-heffalump
  background-color #eceef1
  padding 3px 7px

  & a
    color $color-heffalump

  &:before
    font-family 'octicons'
    content '\f020  '

.repo-branch-card__build-number
  font-family HelveticaNeue-light
  color $color-heffalump

.repo-branch-card__last-build
  width $last-build-width
  height 100%
  vertical-align middle
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  max-width calc(100% - 15px)

.repo-branch-card__last-build-time
  color $color-heffalump
  font-family HelveticaNeue-bold

.repo-branch-card__triggered-by
  width $details-width
  height 100%
  vertical-align middle
  font-family HelveticaNeue-light
  color $color-heffalump
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  max-width calc(100% - 10px)

.repo-branch-card__details
  padding 20px
  background-color $color-gypsum
  position relative

.repo-branch-card__details-header
  font-family HelveticaNeue-light
  font-size 18px
  color $color-heffalump

  & .repo-branch-card__build-number
    font-family HelveticaNeue

.repo-branch-card__author
  font-size 14px
  font-family HelveticaNeue
  padding-left 20px

.repo-branch-card__module-rows
  margin-top 20px
  box-shadow 0 3px 3px 0 rgba(0, 0, 0, 0.2)

.repo-branch-card__expanded-module-row
  background-color white
  border 1px solid #eaf0f6
  height 40px
  padding 10px
  color $color-heffalump
  transition background $bg-transition-duration

  & span
    overflow-y hidden
    text-overflow ellipsis
    white-space nowrap

  &:hover
    background-color #eaf1f7

.repo-branch-card__expanded-module-row--no-log:hover
  background-color white

.repo-branch-card__expanded-status
  padding-left 25px
  float left
  max-width 70%

.repo-branch-card__expanded-timestamp
  float right
  max-width 30%
