@import '../variables'

.build-log-scroll
  position fixed
  right 37px
  bottom 3px
  height 70px
  padding 5px
  font-size 26px
  &:hover
    cursor: pointer

.scroll-to-btn
  display block
  height 26px
  background $blue-gray
  color $gray-dark
  &:hover
    color: $gray-darker
  .icon
    position relative
    top -6px