.sidebar__repo-name
  font-size 14px
  padding-left 0
  padding-right 5px
  white-space nowrap
  overflow hidden

.sidebar-item
  position relative
  display block
  padding 5px 0 0 10px
  border-bottom 1px solid #dadada
  font-weight 300
  a
    text-decoration none
    color $link-color
    
    &:hover
      text-decoration none
      color $link-color
  
.sidebar-item__module-branch-name
  color $gray-darker
  font-size 14px
  margin-left 3px
  text-overflow ellipsis
  overflow-x hidden
  width 210px
  display block
  white-space nowrap
  
  & a
    padding-left 5px
    
.sidebar-item__module-repo-name
  font-size 14px
  margin-left 9px
  
  & a
    color $gray-darker
    
    &:hover
      color $gray-darker

.sidebar__active-building-icon
  position absolute
  left 18px
  top 8px

// make easier to click by
// adding padding to container
.sidebar-item__building-icon-link
  position absolute
  margin-left -20px
  margin-top 7px

.sidebar-item__branch-link
  margin 8px 5px 8px 20px
  position relative
  
.sidebar-item__repo-link
  margin 5px 5px 1px 2px

.sidebar-item__build-number
  float right
  font-size 14px
  margin-right 5px
  position absolute
  right 0
  top 0

  &:before
    content ' - '
    opacity: 0
    display inline-block
    position relative
    right 5px

.sidebar__star
  position absolute
  top 6px
  right 3px
    
  .fa
    font-size 18px

.sidebar-item__and-more
  font-size 12px
  padding-right 10px
  padding-bottom 5px
  color $link-color
  text-align right
  cursor pointer
  position absolute
  top 12px
  right 0
  
.repo-octicon // todo clean up this nonsense
  color $gray-darker