.sidebar__repo-name
  font-size 14px
  padding-left 0
  padding-right 5px
  white-space nowrap
  overflow hidden

.sidebar-item
  position relative
  display block
  padding 5px 0 0 10px
  border-bottom 1px solid #dadada
  font-weight 300
  a
    text-decoration none
  
.sidebar-item__module-branch-name
  color $gray-darker
  font-size 14px
  margin-left 3px
  
  & a
    padding-left 5px
    
.sidebar-item__module-repo-name
  color $gray-darker
  font-size 14px
  margin-left 9px

.sidebar__active-building-icon
  position absolute
  left 18px
  top 8px

// make easier to click by
// adding padding to container
.sidebar-item__building-icon-link
  position absolute
  padding-top 8px
  padding-left 35px
  left 0px

.sidebar-item__branch-link
  margin 8px 5px 8px 20px
  
.sidebar-item__repo-link
  margin 5px 5px 1px 2px

.sidebar-item__build-number
  float right
  font-size 14px
  margin-right 5px
  &:before
    content ' - '
    opacity: 0
    display inline-block
    position relative
    right 5px

.sidebar__star
  position absolute
  top 6px
  right 3px
    
  .fa
    font-size 18px

.sidebar-item__and-more
  font-size 12px
  padding-right 10px
  padding-bottom 5px
  width 100%
  color $link-color
  text-align right
  cursor pointer
  position absolute
  top 12px
  right 0
  
.sidebar-item a
  color $link-color // move to color vars and above too
  
  &:hover
    text-decoration none
    color $link-color
  
.repo-octicon // todo clean up this nonsense
  color $gray-darker