@import 'variables'
@import 'mixins'

.sidebar__filter
  padding 0
  top 0
  left 0
  width 299px
  background #d5d5d5

.sidebar__filter-search
  position relative
  padding 10px
  border-bottom 1px solid $gray
  background $offwhite

.sidebar__filter-buttons
  bottom 0
  width 100%

.sidebar__filter-buttons-btn
  display inline-block
  position relative
  width 33.3%
  text-align center
  border-radius 0
  background #e6e6e6
  padding 10px
  border-right 1px solid #dadada
  text-transform uppercase
  font-size 10px
  font-weight $font-medium 
  &:last-child
    border-right none
  &:hover
    cursor pointer
    text-decoration none
  &.btn-default:active
    outline none
  &.active
    background $offwhite
  &.starred
    span
      visibility hidden
    &:after
      font-family FontAwesome
      content '\f005'
      font-style normal
      font-weight normal
      text-decoration inherit
      position absolute
      left 50%
      margin-left -4px
      z-index 1

.search-input, .search-input:focus
  margin-bottom 0px
  border-radius 0
  background inherit
  border none
  outline: 0
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  font-size 14px
  font-weight $font-light
  bottom 5px
  left 0px
  padding 3px 0px 0px 30px
  height 24px  

.search-filter__icon
  position absolute
  font-size 16px
  left 15px
  bottom 13px
  color $gray-dark

.sidebar__star
  margin-right 5px

