@import 'variables'

.sidebar__headline
  font-size 24px
  margin 10px 0

.sidebar__list
  margin-top 20px

.sidebar__repo-url
  font-size 11px

.sidebar__repo
  font-size 18px
  position relative
  font-weight $font-light
  padding-left 15px
  &:hover
    cursor pointer

.sidebar__repo-container
  position relative
  border-bottom 1px solid #dadada
  padding 10px 20px

.sidebar__modules
  position relative
  display none
  padding-left: 18px

  &.expanded
    display block

.sidebar__repo-module
  position relative
  display: block
  padding-left 12px
  line-height 1.6
  font-size 14px

.sidebar__active-building-icon
  position absolute
  left 0

.sidebar__expand
  position absolute
  right 10px
  top 50%
  margin-top -12px
  font-size 10px
  color $gray-dark
