@import 'variables'

.sidebar__headline
  font-size 24px
  margin 10px 0

.sidebar__list
  margin-top 20px

.sidebar__repo
  font-size 20px
  position relative
  font-weight $font-light
  &:hover
    cursor pointer

.sidebar__repo-url
  font-size 12px

.sidebar__repo-container
  position relative
  border-bottom 1px solid #dadada
  padding 10px 0

.sidebar__modules
  display none

  &.expanded
    display block
    margin-left: 10px

.sidebar__repo-module
  display: block

.sidebar__active-building-icon
  position absolute
  right 0
  top 8px