.sidebar__repo-name
  font-size 16px
  //font-weight $font-light
  padding-left 0
  padding-right 5px
  white-space nowrap
  overflow hidden

.sidebar-item
  position relative
  display block
  padding 10px 0 10px 10px
  border-bottom 1px solid #dadada
  font-weight 300
  a
    text-decoration none
  
.sidebar-item__module-branch-name
  color $gray-darker
  font-size 16px
  margin-left 10px
  
  & a
    padding-left 5px
    
.sidebar-item__module-repo-name
  color $gray-darker
  font-size 16px
  margin-left 9px

.sidebar__active-building-icon
  position absolute
  left 18px
  top 8px

// make easier to click by
// adding padding to container
.sidebar-item__building-icon-link
  position absolute
  padding-top 8px
  padding-left 35px
  left 0px

.sidebar-item__branch-link
  margin 10px
  margin-left 20px //todo clean up
  margin-right 5px
  
.sidebar-item__repo-link
  margin 5px
  margin-bottom 13px
  margin-left 0px //todo clean up

.sidebar-item__build-number
  float right
  font-size 16px
  margin-right 5px
  &:before
    content ' - '
    opacity: 0
    display inline-block
    position relative
    right 5px

.sidebar__star
  position absolute
  top 6px
  right 3px
    
  .fa
    font-size 18px

.sidebar-item__and-more
  font-size 16px
  padding-right 10px
  width 100%
  color #70C3D1
  text-align right
  cursor pointer
  
.sidebar-item a
  color #70C3D1 // move to color vars and above too
  
.repo-octicon // todo clean up this nonsense
  color $gray-darker