@import 'variables'
@import 'mixins'

.star
  &.unselected
    color $gray

  &.selected
    color $color-starred

  &.loading
    color white

  &:hover
    cursor pointer

  &.disabled
      &:hover
        cursor default
